* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    height: 100vh;
}
nav {
    width: 100vw;
    height: 100px;
    background-color: rgb(42, 3, 48);
    position: fixed;
    top: 0px;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 70px;
    flex-wrap: wrap;
}
nav .logo {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-shrink: 0;
}
nav ul {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    display: flex;
    gap: 40px;
}
nav ul a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.a:hover {
    color: rgb(232, 139, 255);
}
.hero {
    height: calc(100vh - 100px);
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(196, 138, 243, 0.76);
}
.hero .pic {
    position: relative;
}
.hero .circle {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
    background-color: rgba(99, 24, 114, 0.548);
}
.hero .pic img {
    height: 200px;
    position: absolute;
    top: -24px;
    left: -13px;
    clip-path: circle();
}
.hero h1 {
    font-size: 45px;
    color: white;
    text-align: center;
}
.hero .icon {
    color: white; 
    font-size: 22px;
    display: flex;
    align-items: center;
    gap: 5px;
}
span {
    font-size: 35px;
}
.hero .job {
    font-size: 28px;
    color: white;
    margin-top: 5px;
    text-align: center;
}
#portfolio , #contact_me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 80px;
}
#portfolio h1 , #contact_me h1 {
    font-size: 45px;
    color: rgb(42, 3, 48);
}
#portfolio .icon , #contact_me .icon {
    color: rgb(42, 3, 48); 
    font-size: 22px;
    display: flex;
    align-items: center;
    gap: 5px;
}
#portfolio .container {
    max-width: 1200px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
#portfolio .card1 , .card2 , .card3 , .card4 , .card5 , .card6{
    width: 350px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
#portfolio .card1 {
    background-color: rgb(233, 113, 1);
}
#portfolio .card2 {
    background-color: rgba(5, 84, 202, 0.87);
}
#portfolio .card3 {
    background-color: rgb(61, 12, 94);
}
#portfolio .card4 {
    background-color: rgba(0, 0, 0, 0.877);
}
#portfolio .card5 {
    background-color: rgb(48, 47, 47);
}
#portfolio .card6 {
    background-color: rgb(43, 40, 66);
}
#portfolio .circle1 , .circle2 , .circle3 , .circle4 , .circle5 , .circle6{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
#portfolio .circle1 {
    background-color: rgba(250, 232, 215, 0.87);
}
#portfolio .circle2 {
    background-color: rgb(234, 249, 255);
}
#portfolio .circle3 {
    background-color: rgb(240, 222, 247);
}
#portfolio .circle4 {
    background-color: rgba(255, 255, 255, 0.925);
}
#portfolio .circle5 {
    background-color: rgba(99, 221, 243, 0.863);
}
#portfolio .circle6 {
    background-color: rgb(133, 172, 240);
}
#portfolio img {
    width: 120px;
}
#portfolio .card3 .circle3 .boot {
    width: 97px;
}
#portfolio .card4 .circle4 .git_lo {
    width: 140px;
}
#about {
    background-color: rgba(196, 138, 243, 0.76);
    gap: 25px;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#about h1 {
    font-size: 45px;
    color: white;
}
#about .icon {
    color: white; 
    font-size: 22px;
    display: flex;
    align-items: center;
    gap: 5px;
}
#about .about_me {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}
#about .about_me p {
    width: 330px;
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    color: white;
}
#about .butt {
    font-size: 17px;
    padding: 10px 20px;
    border-radius: 5px;
    background: none;
    border: 3px solid white;
    color: white;
    cursor: pointer;
}
#contact_me h1 {
    text-align: center;
}
#contact_me .wrap_bu {
    display: flex;
    flex-direction: column;   
    gap: 70px;
    text-align: center;
}
#contact_me .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
#contact_me .wrapper .input_data {
    width: 500px;
    height: 35px;
    position: relative;
}
#contact_me .wrapper .input_data input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid silver;
}
#contact_me .wrapper .input_data label {
    position: absolute;
    bottom: 25px ;
    left: 0;
    color: grey;
    pointer-events: none;
}
#contact_me .wrapper .input_data textarea {
    height: 90px;
    width: 100%;
    border: none;
    border-bottom: 1px solid silver;
    outline: none;
}
#contact_me .wrap_bu button {
    width: 65px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: rgba(196, 138, 243, 0.76);
    cursor: pointer;
}
#foot {
    background-color: rgb(42, 3, 48);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    flex-wrap: wrap;
    gap: 30px;
}
#foot h3 , p {
    font-family: Arial, Helvetica, sans-serif;
    color: white
} 
#foot .loc , #foot .around_web , #foot .freelance {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    width: 340px;
}
#foot .loc p {
    width: 217px;
}
#foot .around_web .icon_contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
#foot .around_web .icon_contact .ic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#foot .around_web .icon_contact .ic .ii {
    color: white;
}
#foot .freelance p {
    width: 280px;
    text-align: center;
}
#foot .freelance p a {
    color: rgb(192, 56, 255);
}
.copy {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(33, 1, 37);
    text-align: center;
}
.copyright {
  font-size: 14px;
}


@media screen and (max-width:345px) {
    .hero .icon {
        font-size: 20px;
    }
    span {
        font-size: 25px;
    } 
    #about .about_me p {
        width: 280px;
    }
}
@media screen and (max-width:355px) {
    #portfolio .card1 , .card2 , .card3 , .card4 , .card5 , .card6 {
        width: 280px;
        height: 180px;
    } 
    #portfolio .circle1 , .circle2 , .circle3 , .circle4 , .circle5 , .circle6 {
        width: 150px;
        height: 150px;
    }
}
@media screen and (max-width:348px) {
    #about .butt {
        font-size: 14px;
    padding: 6px 8px;
    }
}
@media screen and (max-width:525px) {
    #contact_me .wrapper .input_data {
        width: 280px;
        height: 35px;
        position: relative;
    }
}